@import url('libs/login/login.css');
@import url('libs/register/register.css');

body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #0ca3d2;
  outline: none;
}

img {
	width:20%;
	height:20%; 
	margin: auto;
}