p {
	color: red;
}

#fileChooser {
	display: inline-block;
	float: left;
	margin: 10;
}

#drop {
	display: inline-block;
	float: left;
	border: 1px dashed;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
}